#!/usr/bin/env bash
#
# Written by: Robin Gierse - info@thorian93.de - on 20170511
#
# Purpose:
# This is a backup script for Nextcloud.
#
# Version: 1.0 on 20170511
# Version: 1.1 on 20200315
# Version: 1.2 on 20200317
#
# Usage:
# ./wordpress-backup.sh

log_dir="{{ wordpress_backup_path }}/log"
logfile="$log_dir/wordpress-backup.log"
wordpress_root="{{ wordpress_web_dir }}"
backup_dir="{{ wordpress_backup_path }}"
db_name="{{ wordpress_db_name }}"
db_backup_user="{{ mysql_backup_user }}"
db_backup_pw="{{ mysql_backup_pw }}"

today="$(date +%Y%m%d)"

rsync="$(command -v rsync)"
PHP="$(command -v php)"

_initialize()
{
	echo "Backup started. $(date)"
	if [ ! -d $backup_dir ]
	then
		mkdir -p $backup_dir
	fi

	if [ ! -d $log_dir ]
	then
		mkdir -p $log_dir
	fi
	if [ ! -f $logfile ]
	then
		touch $logfile
	fi
}

_backup_app()
{
	echo "$(date +%H:%M:%S) : Backing up $wordpress_root..."
	if [ ! -d "$backup_dir/wordpress_app" ]
	then
		mkdir -p "$backup_dir/wordpress_app"
	fi
	$rsync -Aavx --log-file=$logfile $wordpress_root "$backup_dir/wordpress_app"
	if [ "$?" == "0" ]
	then
		echo "$(date +%H:%M:%S) : Done backing up $wordpress_root..."
	else
		echo "$(date +%H:%M:%S) : An error occurred during backup."
	fi
}

_backup_db()
{
	echo "$(date +%H:%M:%S) : Backup Database."
	mysqldump --single-transaction -h localhost -u$db_backup_user -p$db_backup_pw $db_name > $backup_dir/wordpress-sql.bak
	echo "$(date +%H:%M:%S) : Done backing up Database."
}

_finish()
{
	echo "$(date +%H:%M:%S) : Backup finished."
}

# Main:
_initialize 2>&1|tee -a $logfile
_backup_app 2>&1|tee -a $logfile
_backup_db 2>&1|tee -a $logfile
_finish 2>&1|tee -a $logfile
